numpy
scipy
python-igraph
gunicorn
flask
flask-runner
git+https://github.com/citruspi/Flask-Analytics.git
watchdog
pyquery
pyyaml
elasticsearch
requests
requests-cache
urllib3
lxml
reliure
git+ssh://git@git.kodexlab.com/kodexlab/cello.git
