html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    background: #373434;
/*
    overflow: hidden; /* no overflow, gviz canvas may create undesirable scroll */
*/
}

.page {
    display: table;
    height: 100%;
    width: 100%;
}


.itembox {
    left: 50%;
    width: 80%;
    margin-left: -40%;
    padding-top: 20px;
}

.footer {
    margin-top:6px;
    color:#E1D7D7;
    padding-bottom:26px;
}

h1 {
    color:#333;
    color:#E1D7D7;
}

.bootstrap-tagsinput .tag {
        font-size: 16px;
}

.bootstrap-tagsinput {
    margin-bottom:0px;
}

ul.autocomplete {
    display:none;
    position:absolute;
    margin-top:2px;
    margin-left:-2px;
    margin-left:-2px;
    z-index:200;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color:#FFF;
}
ul.autocomplete li{
    min-width: 200px;
    list-style-type:none;
    text-align:left;
    margin-left: -40px;
    padding-left: 12px;
    padding-bottom:3px;
}
ul.autocomplete li:hover{
    background-color:#373434
    color:#FFFFFF;
}
ul.autocomplete li.active{
    color:#FFFFFF;
    background-color:#373434
}

/* Loading GIF */
#loading-indicator {
    position: fixed;
    z-index: 900;
    left:0;
    right:0;
}
#loading-indicator>div {.input = app.views.query.$input
    text-align: left
}
#loading-indicator>div>img {
    margin: 13px;
}

/* Query and engine */

#query_home_contener {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}



#myCarousel {
}
#myCarousel h1{
    color:#666;
}

#myCarousel .carousel-indicators {
    margin-top:20px;
    bottom:12px;
}

#myCarousel .carousel-indicators li.active{
    color: #000;
}

#myCarousel .carousel-indicators button {
    width:120px;
    height:35px;
}

#myCarousel .carousel-indicators button.active{
    color: #000;
    width:120px;
    height:35px;
    border-bottom:2px solid #999;
}

.item{
    background: #EEE;    
/*
    text-align: center;
*/
    border-bottom:1px solid gray;
    height:550px !important;
    display: block; 
    margin: 0;    
    left: 50%;
    width: 100%;
    overflow:hidden;
/*
    margin-left: 50%;
*/
}

.item h1 {
    padding:20px;
    padding-top:6px;
    padding-bottom:0px;
    margin-top:0px;
}

/*
    definitions
*/
#wkdef {
    width:550px;
    height: 80%;
    left:50%;
    margin-left:225px;
    
    overflow:scroll;
}
#wkdef .mw-editsection {
    display:none;
}
#wkdef h1 {
    display:none;
}
#wkdef h2 {
    display:none;
}
#wkdef h3 {
    font-size:18px;
}
#wkdef h4 {
    font-size:14px;
}


/* Graph */
#vz_threejs_main {
    height:100%;
}

#vz_threejs_main canvas{
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
    margin: 0;
    padding: 0;
}

/* -- clustering -- */

#clustering_items {
/*
    left: 50%;
    margin-left: 10%;
    height:80%
*/
    width: 60%;
}

#clustering_items>ul {
    list-style: none;
    padding: 0px;
}

#clustering_items>ul.cluster.active {
    background-color: red;
}

#clustering_items>ul li.cluster{
    margin-top: 0px;
    margin-bottom: 8px;
    border-radius: 6px;
    padding: 0px 1px;
    border: 1px solid white;
    text-align: center;
    cursor:pointer;
}

#clustering_items>ul li.cluster.active{
    opacity: 1;
}
#clustering_items>ul li.cluster.unactive{
    opacity: 0.5;
}

#clustering_items>ul li.cluster:hover{
    border: 1px black solid;
}

#clustering_items>ul li.cluster ul.label_list{
    list-style: none;
    padding: 0px;
    padding-bottom: 3px;
}

#clustering_items>ul li.cluster li.clabel{
    list-style: none;
    display: inline-block;
    height: 1.1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 3px;
}

/* Add comma between labels */
#clustering_items>ul li.cluster li.clabel:after {
  content: ", ";
}

#clustering_items>ul li.cluster li.clabel:last-child:after {
  content: "";
}

#clustering_items>ul li.cluster li.clabel a{
    color: #111;
}
#clustering_items>ul li.cluster li.clabel a:hover{
    text-decoration: underline;
}


/* -- vtx list -- */

#proxemy_items {
    background-color: #EEEEEE;
    border: 1px solid #c3d2f0;
    font-size: 1.2em;
    padding:3px;
    padding-top:20px;
    padding-left:30px;
    left: 50%;
    width: 80%;
    margin-left: 10%;
    height:80%;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;    
    
}

#proxemy_items ul {
    list-style:none;
    padding-left: 5px;
}

#proxemy_items a {
    color: #666;
}


#proxemy_items li.selected a {
    text-decoration:underline;
    font-weight:bold;
}

/*
#proxemy_items li img {
    display:none;
}
*/
#proxemy_items li img {
    padding-left:4px;
    display:inline-block;
    cursor:hand;
}

#proxemy_items li.intersected a {
    font-weight:bold;
}

#proxemy_items div.puce {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 3px;
    margin-right: 5px;
    border-radius: 15px;
}

