html, body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background: #373434;
/*
    overflow: hidden;
*/
}


@media (max-width: 500px) {
    .hidden-xs {
        display:none!important;
    }
    #maintabs a.item {
        width:60px;
    }

}

.ui.grid {
    margin-top:0px;
}
.row {
    padding-bottom:0px!important;
}
.page .row.entete {
    color: #373434;
    padding-top:6px;
}

#query_form {
    padding-top:2px;
}
#query_form input {
    margin-top:4px
}
#query_form i.random:hover{
    color:#00b5ad;
}


h1 {
    color:#333;
    color:#E1D7D7;
}

.bootstrap-tagsinput .tag {
        font-size: 16px;
}

.bootstrap-tagsinput {
    margin-bottom:2px;
    line-height: 28px;
}

.label.pos-A {
    background-color:rgb(133, 204, 102);
}
.label.pos-E {
    background-color:rgb(102, 162, 204);
}
.label.pos-N {
    background-color:rgb(204, 189, 102);
}
.label.pos-V {
    background-color:rgb(204, 102, 102);
}

ul.autocomplete {
    display:none;
    position:absolute;
    margin-top:10px;
    margin-left:-2px;
    z-index:200;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color:#FFF;
}

ul.autocomplete li .label {
padding: 3px;
padding-left: 5px;
border-radius: 4px;
}

ul.autocomplete li{
    min-width: 200px;
    list-style-type:none;
    text-align:left;
    margin-left: -40px;
    padding-left: 12px;
    padding-bottom:3px;
}
ul.autocomplete li:hover{
    background-color:#373434
    color:#FFFFFF;
}
ul.autocomplete li.active{
    color:#FFFFFF;
    background-color:#373434
}

#maintabs {
    border-radius: 4px 4px 0px 0px;
    border-color: #e7e7e7;
    box-shadow: none;
}
#maintabs h3 {
    margin: 0px;
    padding-bottom: 0px;
    font-size: 1rem;
}
#maintabs .item {
line-height: 1.3em;
}
#maintabs .item.active{
    background: #EEE;
}
#maintabs div.button  {
    width:140px;
    height:35px;
}

#maintabs div.button.active{
    color: #000;
    border-bottom:4px solid #428BCA;
}
.itemview{
    background: #EEE;
    border-bottom:1px solid gray;
    margin: 0;
    height:100%;
}
.itemview .segment {
    background: #EEE;
    margin: 0;
    padding-top: 0px;
    border:none;
    box-shadow:none;
}

.itemview h1 {
    padding:20px;
    padding-top:6px;
    padding-bottom:0px;
    margin-top:0px;
}


.itemview li.active{
    color: #000;
}


.subitem {
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: calc(100% - 83px);
    overflow: auto;
}

.subitem h3 {
}

/*
    definitions
*/
#wkdef {
    padding-top: 12px;
    overflow: hidden;
    height: 100%;
}
#wkdef nav>li.active>a, #wkdef nav>li.active>a:hover, #wkdef nav>li.active>a:focus {
    color: #fff;
    background-color: #428BCA;
}

#wkdef .def-content {
    overflow-y: scroll;
    height: 100%;
}

#wkdef .wk-hiddable {
    display:none;
}

#wkdef h3 {
    margin-top: 0px;
    font-size:18px;
}
#wkdef h4 {
    font-size:14px;
}


/* Graph */
#vz_threejs_main {
    height:100%;
}

#vz_threejs_main canvas{
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*
    position: relative;
    top: -40px;
*/
    margin: 0;
    padding: 0;
}

#vz_threejs_main .gviz-debug {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 49px;
    left: 62%;
    text-align: left;
    padding: 5px;
    background-color: rgba(200,200,200,0.8);
    border: 1px solid #333;

}
/* -- clustering -- */

#clustering_items {
}

#clustering_items>ul {
    list-style: none;
    padding: 0px;
}

#clustering_items>ul.cluster.active {
    background-color: red;
}

#clustering_items>ul li.cluster{
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 6px;
    border: 1px solid white;
    text-align: center;
    cursor:pointer;
    padding: 6px;
    margin-right: 5%;
    margin-left: 5%;
}

#clustering_items>ul li.cluster.active{
    opacity: 1;
}
#clustering_items>ul li.cluster.unactive{
    opacity: 0.5;
}

#clustering_items>ul li.cluster:hover{
    border: 1px black solid;
}

#clustering_items>ul li.cluster ul.label_list{
    list-style: none;
    padding: 0px;
    padding-bottom: 3px;
}

#clustering_items>ul li.cluster li.clabel{
    list-style: none;
    display: inline-block;
    height: 1.1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 3px;
}

/* Add comma between labels */
#clustering_items>ul li.cluster li.clabel:after {
  content: ", ";
}

#clustering_items>ul li.cluster li.clabel:last-child:after {
  content: "";
}

#clustering_items>ul li.cluster li.clabel a{
    color: #111;
}
#clustering_items>ul li.cluster li.clabel a:hover{
    text-decoration: underline;
}


#clustering_items li.clabel a.button {
    padding: 6px;
    padding-right: 0px;
    margin-right: 0px;
    display: none;
}
#clustering_items li.clabel:hover a.button {
    display: inline-block;
}

/* -- vtx list -- */
#proxemy_items.subitem ul {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}
@media (min-width: 768px) {
    #proxemy_items.subitem ul {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2 ;
        max-height: 730px;
    }
    
    #proxemy_items.subitem ul{
    }
}
@media (min-width: 970px) {
    #proxemy_items.subitem ul {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
        max-height: 430px;
    }
}

#proxemy_items.subitem ul {
    list-style:none;
    padding-left: 5px;
}


#proxemy_items ul li.target a {
    text-decoration: underline;
    font-weight: bold;
}
#proxemy_items.subitem a {
    color: #666;
}

#proxemy_items li a.button {
    padding: 6px;
    padding-right: 0px;
    margin-right: 0px;
    display: none;
}
#proxemy_items li:hover a.button {
    display: inline-block;
}
#proxemy_items li a.button i.icon {
    padding-right: 0px;
    margin-right: 5px;
    text-decoration: none;
}
#proxemy_items li a.draggable:hover {
    text-decoration:underline;
}
#proxemy_items li.selected a {
    text-decoration:underline;
    font-weight:bold;
}

#proxemy_items li img {
    padding-left:4px;
    display:inline-block;
    cursor:hand;
}

#proxemy_items li.intersected a {
    font-weight:bold;
}

#proxemy_items div.puce {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 9px;
    margin-right: 5px;
    border-radius: 15px;
}
#proxemy_items li.selected div.puce  {
    border-radius: 3px;
    width: 18px;
    height: 18px;
    margin-left: 3px;
}

#search_in_graph {
    position: relative;
    float: right;
    top: calc(100% - 50px );
    left: -10px;
    z-index: 12;
    padding: 0px;
}
#search_in_graph input {
    width: 200px;
    
    padding-left:8px!important;
    padding-right:8px!important;
}
#search_in_graph .tag.label{
    padding-right:12px;
    height: 38px;
}
#search_in_graph .tag.label .icon{
/*
    margin:0px
*/
}


#footer {
    margin: 0px;
    padding: 2px 0px 2px 0px;
    background: #333;
}
#footer .item{
    padding-top:0px;
    padding-bottom:1px;
    color: #AAA;
    border: none;
}
#footer .item.right {
    padding-left:2px;
    padding-right:2px;
}