<!DOCTYPE html>
<html lang="fr">
<head>
    <title>autourdumot.fr - Dictionnaires et synonymes</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="EsT1uwZPTLB080M8Hh-1OQTaVgWuiOLUzyfqVHTtcmQ" />

     <meta name="description" content="Autour du mot, exploration de graphe de synomymes, dictionnaire, définition, exploration lexical, réseau de mot, exploration dans le petit monde des mots, visualisation de graphe">
     <meta name="keywords" content="autour du mot, définition, dictionnaire, synonyme, graphe, réseau linguistique, réseau sémantique, visualisation de graphe"> 
    
    <!--  SemUI CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='semantic/semantic.min.css')}}" type="text/css" />

    <!--  our CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='app_graph.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='engine.css')}}" type="text/css" />

    <!--  require JS    -->
    <script data-main="{{url_for('static', filename='main')}}" src="{{url_for('static', filename='lib/require.js')}}"></script>

    <!-- templates -->
    <script id="ClusterLabel" type="text/template">
        <a href='#' class='clabel'><%= label %></a>
    </script>
    
    <script id="ListLabel" type="text/template">
            <div class='puce' style='background-color:rgb(<%=color%>);'></div>
            <a draggable="true"  class='draggable' href="#" title='Voir dans le graphe'><%=rank %>. <%=form %></a>
            <a class="share" title="Explorer ce mot"><i class="mini square share icon "></i></a>
            
    </script>

    <script id="cluster_item" type="text/template"><%
        %><a href='#' class='' style='font-size:<%= size %>px' title='Voir dans le graphe'><% _.each(formatted_label, function(token){
        %><span class='<%= token.css.substring(1) %>'><%= token.form %></span><%});%></a><%
        %><%
    %></script>


    
    <script id="query_form_tmpl" type="text/template">
            <div class="ui item input icon">
              <input type='text' id="searchQueryInput" class="prompt " placeholder="<%= placeholder %>" required="" />
              <i class="random icon" title="recherche aléatoire"></i>
            </div>
              
    </script>

</head>
<body>

        
    <div class="ui grid container">
        <div class="row entete">
            <div class="five wide column ">
                    <h2 class="ui  header teal ">Autour<span style='color:lightgrey'>du</span>mot.<span style='color:lightgrey'>fr</span>
                        <div class="sub header  hidden-xs" style='color:lightgrey'>Explorez le petit monde des mots.</div>
                    </h2>
            </div>


            <div class="right aligned eleven wide column query_head">
            </div>
        </div>

        <div id="landing" class="row contenu">
            <div class="column center aligned" style="height: 100%;">

                <!-- loading -->
<!--                <div class="ui itemview active">-->
<!--                    <div class="ui tab teal loading">-->
<!--                    </div>-->
<!--                    <h1 class="ui header teal">accueil ...</h1>-->
<!--                </div>-->

                <!-- info de base en landing -->
                <div class="ui itemview segment loading">
                    <h3>
                        Explorez le voisinage des mots ...
                    </h3>
                    <div class="query_home">
                        <div id="query_form" class=""></div>
                        <div id="query_complete"></div>
                    </div>
<!--                    <div class="ui huge message" style="height: 100%; padding-top: 10%; text-align: left; background-image: url('/static/fleche.png'); background-repeat: no-repeat; background-position: 95% 15px;">-->
<!--                    </div>-->
                </div>

            </div>
        </div>
    

        <div id='app' class="row contenu" style="display:none">
            <div class="column center aligned">
                <div id="maintabs" class="ui bottom attached borderless   teal  menu">
                      <a class="ui item tab active tab-graph" data-tab='graph'>
                          <i class="cube icon"></i>
                          <span class='hidden-xs'>Graphe</span>
                      </a>

                      <a class="ui item tab" data-tab='list'>
                          <i class="list layout icon"></i>
                          <span class='hidden-xs'>Liste</span>
                      </a>
                      
                      <a class="ui item tab" data-tab='clust'>
                          <i class="block layout icon"></i>
                          <span class='hidden-xs'>Regroupement</span>
                          <!-- sous sens, agregats, regroupement, structure polysémique, champ semantique -->
                      </a>
                      
                      <a class="ui item tab" data-tab='def'>
                          <i class="book icon"></i>
                          <span class='hidden-xs'>Définition</span>
                      </a>

                      <div class="ui right compact text menu">
                          <div class="ui item ">
                            <div id="select" class="ui icon pointing dropdown ">
                                <i class="tags icon"></i>
                                Résultats
                                <div class="menu">
                                  <div class="header">
                                    
                                  </div>
                                  <div class="item">20</div>
                                  <div class="item">50</div>
                                  <div class="item">100</div>
                                  <div class="item">200</div>
                                  <div class="item">250</div>
                                  <div class="item">300</div>
                                </div>
                            </div>
                          </div>
                          
                          <div id="linkify" class="ui item ">
                            <a class="grey item" ><i class="linkify icon"></i> Partager</a>
                            <div class="ui popup">
                                <h2 class="ui header">Partager ce lien</h2>
                                <div class="">
                                    <input style="width:200px" value=""/>
                                    <p></p>
                                    <p>
                                    Copier le lien avec Ctrl C <br>Coller ce lien dans un document ou une barre de navigation.
                                    </p>
                                </div>
                            </div>
                          </div>
                      </div>

                </div> <!--/maintabs-->

    
                <div class="ui tab itemview active" data-tab="graph">
    <!--
                    <div id="search_in_graph" class="ui right labeled left icon input">
                      <input placeholder="?" type="text" class="transition hidden">
                      <div class="ui tag label">
                        <i class="search icon"></i>
                      </div>
                    </div>
    -->
                    <div id='vz_threejs_main' class=''></div>
                </div>

                <div class="ui tab itemview" data-tab="clust">
                    <h1> <i class="block layout icon"></i></h1>
                    <div id='clustering_items' class='subitem' style=''><ul></ul></div>
                </div>


                <div class="ui tab itemview " data-tab="list">
                    <br/>
                    <div id='proxemy_more'><a href="?t=l&count=200">Télécharger la liste</a></div>
                    <div id='proxemy_items' class='ui left aligned segment subitem' style=''><ul></ul></div>
                    
                </div>

                <div class="ui tab  itemview " data-tab="def">
                    <div id='wkdef' class='ui left aligned text container segment subitem' style=''>
                        <div  class="ui compact menu ">
                           <div class="item ">
                              <div class="ui icon top left pointing dropdown ">
                                <i class="book down icon"></i>
                                <div class="menu">
                                  <a class="item  active" data-desc='short'><i class="caret right teal icon"></i> Description courte </a>
                                  <a class="item " data-desc='long'><i class=" caret right teal icon "></i>Description complète</a>
                                </div>
                              </div>
                            </div>
                        </div>
                        <nav  class="ui secondary pointing compact menu ">
                        </nav>
                        <div class="ui hidden divider"></div>
                        <div class="def-content"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer" class="row" style="bottom: 0px;">
            <div class="center aligned column">        
                <div class='item hidden-xs'>
                    Synonymes <a target='_blank' href='http://jeuxdemots.org' class="ui teal">Jeux de mots</a> - 
                    Définitions <a target='_blank' href='http://wiktionary.org' class="ui teal">Wiktionary.org</a> 
                    <a class="item" href="http://redac.univ-tlse2.fr/applications/index.html"><i class=" inverted small teal  icon "></i></a>
                    <a href='http://autourdumot.fr' clas    s="ui teal">autour<span style='color:#AAA'>du</span>mot.fr</a> & 
                    <a target='_blank' href="http://redac.univ-tlse2.fr/applications/index.html" class="ui teal">
                     CLLE-ERSS</a>
                </div>
            </div>
        </div>
    
    </div>

<script>
    // main js is not yet charged, need this config here

    (function(){
        var size =  window.screen.availHeight - 215;
        var e = document.getElementById('loading');
        if (e) e.setAttribute("style", "height:"+size+"px");
    })();
    
</script>
<script>
    var value = {{count}};
    
    require.config({
      paths: {
        feedback_client: 'http://feedback.kodexlab.com/static/feedback_client',
      },
    });


    require([
        "app_graph", //"feedback_client"
    ],  function(App/*, feedback*/){
        // The "app" dependency is passed in as "App"
        app = new  App( {
           debug: {{ 'true' if debug else 'false' }},
           root_url: "{{ root_url }}",
           engine_url: "{{ engine_url }}",
           random_url: "{{ random_url }}",
           complete_url: "{{ complete_url }}",
           def_url: "{{ def_url }}",
        });

        // stop initial loading
        $('#landing .loading').removeClass('loading');
        // run the app
        app.start();

        var cellist = app.models.cellist;

        // more results
        $('#select')
          .dropdown({
              on : "hover",
              onChange: function(value, text, $selectedItem) {
                  console.log(value, text );
                  cellist.get_block('graph').components.at(0).set_option('length', value)
                  cellist.play();
              }
          });

        // panel tabs
        $('#maintabs .item').tab();
        
        $('#maintabs .item').click(
             function(){console.log("onchange", this, 
                        $('#maintabs .item').tab('get tab')
                     )}
        );
        // cubes dropdown 
        $('#cubes')
          .dropdown({
            // you can use any ui transition
            transition: 'drop'
          })
        ;

        // about menu
        $("a.about").on('click', function(){
           $('.ui.modal')
              .modal({transition:'scale', duration:300})
              .modal('show')
            ;
        });

        $('#query_form i.random').popup({
            inline   : true,
            variation: 'inverted large',
            position : 'right center',
        });

        $('#footer .item i').popup({
            inline   : true,
            hoverable: true,
            position : 'top right',
            variation: 'large',
            delay: {
              show: 100,
              hide: 100
            }
        });

        // get link popup   
        $('#linkify a').popup({
            inline   : true,
            hoverable: true,
            position : 'bottom right',
            popup: $("#maintabs .popup"),
            //on    : 'click',
            onShow : function(){ $("#linkify input").val(window.location.href).focus().select();},
            delay: {
              show: 100,
              hide: 100
            }
          });

        /* keyboard shortcuts */
        // input
        Mousetrap.bind(['?', ',', 'up'], function(){
            $("#query_form input").focus().select();
            return false;
        });
        //random
        Mousetrap.bind(['* enter'], function(){
            console.log('* enter')
            app.models.query.reset_random();
            return false;
        });
        
        Mousetrap.bind([': d'], function(){
            $('.gviz-debug').toggle();
            return false;
        });

        // tabs
        
        // tabs names @data-tab.substr(4)
        var tabs = _($("#maintabs a.item.tab")).map(function(e) {return $(e).attr('data-tab')});
        // tab selector
        var tab$el = function(tab){ return  $("#maintabs a[data-tab="+tab+"]") };
        
        var move_tab = function(delta){
            var active = $("#maintabs a.active").attr('data-tab');
            if ( _.isString(active) ){
                var index = tabs.indexOf(active);
                index += delta;
                if ( index < 0 ) index = tabs.length-1;
                if ( index >= tabs.length ) index = 0;
                return tab$el( tabs[index] ).click();
            }
        };
        
        _(tabs).each(function(v){
            var letter = v.substring(0,1);
            Mousetrap.bind(letter, function() {
                $el = tab$el(v);
                $el.click();
            });                
        });
        // arrows
        Mousetrap.bind(['up up down down left right left right b a enter'], function(){
               alert('bouncing');
        });
        Mousetrap.bind('right', function(){
                move_tab(1);
        });
        Mousetrap.bind('left', function(){
                move_tab(-1);
        });


        // vertex size
        Mousetrap.bind('0', function(){
            app.views.gviz.user_vtx_size = 0;
            app.views.gviz.request_animation(100);
        });
        Mousetrap.bind('o', function(){
            if (app.views.gviz.user_vtx_size > -9 )
                app.views.gviz.user_vtx_size -= 1;
            app.views.gviz.request_animation(100);
            console.log("size", app.views.gviz.user_vtx_size);
        });
        Mousetrap.bind('p', function(){
            if (app.views.gviz.user_vtx_size < 10)
                app.views.gviz.user_vtx_size +=1;
            app.views.gviz.request_animation(100);
            console.log("size", app.views.gviz.user_vtx_size);
        });


        // resize window event 
        var min_height = 250;

        var _window_resized = function(){
            var win = $(this); //this = window
            size =  $(window).height()
                    -$(".page .row.entete").height()
                    - Math.max( 40 | $("#maintabs").height() )
                    - $(".footer").height()
                    - 80;
            size = size < min_height ? min_height : size;
            $(".itemview").height(size);
            app.views.gviz.resize_rendering();
            $("#wkdef .def-content").height(size - $("#wkdef nav").height() -30);
        }
        
        var data_loaded = false;
            // move the query form if needed
        app.listenTo(app.models.cellist, 'play:complete', function() {
            console.log(">>>>>complete", "resize", move_tab(0).focus());
            // move the input form
            if(!data_loaded){
                // reconfigure view for results vw
                data_loaded = true;
                $(".query_home").detach().appendTo(".query_head");
            }
            $('input').blur();
            move_tab(0).focus();
            $('#landing').hide();
            $('#app').show();
            _window_resized();
        } );

        $('#maintabs .item').click(_window_resized);

        $(window).on('resize', _window_resized);
        _window_resized();
        
        // Feedback system
        /*
        // activate the feedback system
        feedback.activate("autourdumot", "http://feedback.kodexlab.com/")
        // bind it to my custom btn
        $(".comments").click(function(){
            feedback.show();
        })
        */

    })();
</script>


<!-- Piwik -->
<!--
{{ analytics }}
-->

</body>
</html>
