<!DOCTYPE html>
<html lang="en">
<head>
    <title> Dictionnaires et synonymes - tmuse - </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  require JS    -->
    <script data-main="{{url_for('static', filename='main')}}" src="{{url_for('static', filename='lib/require.js')}}"></script>
    <script>
        require([
            "app_graph"
        ],  function(App){
            // The "app" dependency is passed in as "App"
            app = new App({root_url:"{{ root_url }}" });
            app.start();
        })();
    </script>

    <!--  Bootstrap CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap-tagsinput.css')}}" type="text/css" />

    <!--  our CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='app_graph.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='engine.css')}}" type="text/css" />

    <script id="ClusterLabel" type="text/template">
        <a href='#' class='clabel' style='font-size:<%= size %>px' alt='graph from \'<%= label %>\''><%= label %></a>
    </script>
    
    <script id="ListLabel" type="text/template">
        <span>
            <div class='puce' style='background-color:rgb(<%=color%>);'></div>
            <a class='' href="#"><%=rank %>. <%=form %></a>
        </span>
    </script>
</head>

<body>
<div class='page' >

    <div id="loading-indicator" style="display:none;" >
        <div class="container"><img src="{{url_for('static', filename='loading.gif')}}" /></div>
    </div>


    <div class="container text-center">
        <h1>Dictionnaires et synonymes</h1>
    </div>
    <div id="query_home_contener" class="container text-center">
        <div id="query_form"></div>


        <div id="query_complete"></div>
        <div id='engine' class='pane engine'>
            <div class='optbuttons'></div>
            <div class='text-center blocks'></div>
        </div>

    </div>


    <div id="myCarousel" class="itembox carousel slide" data-ride="carousel" style="" data-interval="false" >
        <!-- Carousel indicators -->
        <div class="container text-center" >
            <div class="carousel-indicators btn-group text-center" role="group" >
                  <button data-target="#myCarousel" data-slide-to="0" type="button" class="btn btn-default active">Graph</button>
                  <button data-target="#myCarousel" data-slide-to="1" type="button" class="btn btn-default">
                      <span class="glyphicon glyphicon-th-large"></span> Clustering</button>
                  <button data-target="#myCarousel" data-slide-to="2" type="button" class="btn btn-default">
                      <span class="glyphicon glyphicon-th-list"></span> Liste</button>
                  
                  <button data-target="#myCarousel" data-slide-to="3" type="button" class="btn btn-default">
                      <span class=" glyphicon glyphicon-book"></span> Définition</button>
                  
                  <button type="button" class="btn btn-primary" style="margin-right: 20px;width: 45px;margin-left: 12px;"><span class='glyphicon glyphicon-play'></span></button>
                  
            </div>
        </div>
        <!-- Carousel items -->
        <div class="carousel-inner">

            <div class="item active">
<!--                <h1>Graph</h1> -->
                <div id='vz_threejs_main' class=''></div>            
            </div>

            <div class="item">
                <h1> <span class="glyphicon glyphicon-th-large"></span>&nbsp;</h1>
                <div id='clustering_items' class='subitem' style=''></div>
            </div>

            <div class="item">
                <h1> <span class=" glyphicon glyphicon-list"></span>&nbsp;</h1>
                <div id='proxemy_items' class='subitem' style=''></div>
            </div>
            
            <div class="item">
                <h1> <span class=" glyphicon glyphicon-book"></span>&nbsp;</h1>
                <div id='wkdef' class='subitem' style=''>
                    <ul class="nav nav-pills" data-tabs="tabs"></ul>
                    <div class="tab-content"></div>
                </div>

            </div>

        </div>

    </div>



    <div class='footer'>
        <div class="container text-center">
            Données synonymiques <a href='http://jeuxdemots.org'>Jeux de mots</a> - 
            Définitions <a href='http://wiktionary.org'>Wiktionary.org</a> - 
            Réalisation <a href="http://kodexlab.com">Kodex·Lab</a> 2014 
        </div>
    </div>
    
    <div class="alert alert-success" role="alert">
        <div class="page-header text-center">
          <h1><small>Idees et commentaires sur le pad specialement ouvert pour l'occasion</small></h1>
          <a href='https://proxteam.eu/pad/p/cello_tmuse' target='_blank'>https://proxteam.eu/pad/p/cello_tmuse</a>
          <p/>
          <p>pad de development:
          <a href='https://proxteam.eu/pad/p/cello_tmuse_dev' target='_blank'>https://proxteam.eu/pad/p/cello_tmuse_dev</a>
          </p>
          
          <p>git: git clone corpusrail:/var-hdd/git/tmuse</p>
          
        </div>
    </div>
    

</div> <!-- /.page -->


<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.kodexlab.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 6]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://stats.kodexlab.com/piwik.php?idsite=6" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
