<!DOCTYPE html>
<html lang="en">
<head>
    <title> Dictionnaires et synonymes - tmuse - </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  require JS    -->
    <script data-main="{{url_for('static', filename='main')}}" src="{{url_for('static', filename='lib/require.js')}}"></script>

    <!--  Bootstrap CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap-tagsinput.css')}}" type="text/css" />

    <!--  our CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='app_graph.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='engine.css')}}" type="text/css" />

    <script id="ClusterLabel" type="text/template">
        <a href='#' class='clabel' style='font-size:<%= size %>px' alt='graph from \'<%= label %>\''><%= label %></a>
    </script>
    
    <script id="ListLabel" type="text/template">
        <span>
            <div class='puce' style='background-color:rgb(<%=color%>);'></div>
            <a class='' href="#"><%=rank %>. <%=form %></a>
        </span>
    </script>

        
    <script id="query_form_tmpl" type="text/template">
        <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="searchQueryInput"><%= label %></label>
              <input type='text' id="searchQueryInput" class="form-control query_input" placeholder="<%= placeholder %>" required="" />
<!--
            <button class="btn btn-primary query_send" type="submit" ><%= submit %></button>
-->
            </div>
        </form>
    </script>

</head>

<body>
<div class='page' >


    
<div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Dictionnaires et synonymes</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <div id="query_home_contener" class="search nav navbar-nav">
        <div id="query_form"></div>
        <div id="query_complete"></div>
      </div>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
        
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    
    <div id="loading-indicator" style="display:none;" >
        <div class="container"><img src="{{url_for('static', filename='loading.gif')}}" /></div>
    </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="" data-interval="false" >
            <!-- Carousel indicators -->
            <div class="container text-center" >
                <div class="carousel-indicators btn-group text-center" role="group" >
                      <button data-target="#myCarousel" data-slide-to="0" type="button" class="btn btn-default active">
                          <span class="glyphicon glyphicon-facetime-video"></span>
                          <span class='hidden-xs'>Graph</span>
                      </button>
                      <button data-target="#myCarousel" data-slide-to="1" type="button" class="btn btn-default">
                          <span class="glyphicon glyphicon-th-large"></span>
                          <span class='hidden-xs'>Clustering</span>
                      </button>
                      <button data-target="#myCarousel" data-slide-to="2" type="button" class="btn btn-default">
                          <span class="glyphicon glyphicon-th-list"></span>
                          <span class='hidden-xs'>Liste</span>
                      </button>
                      
                      <button data-target="#myCarousel" data-slide-to="3" type="button" class="btn btn-default">
                          <span class=" glyphicon glyphicon-book"></span>
                          <span class='hidden-xs'>Définition</span>
                      </button>
                      
                </div>
            </div>

            <!-- Carousel items -->
            <div class="carousel-inner">

                <div class="item active">
<!--
                    <h1> <span class="glyphicon glyphicon-facetime-video"></span>&nbsp;</h1>
-->
                    <div id='vz_threejs_main' class=''></div>            
                </div>

                <div class="item">
                    <h1> <span class="glyphicon glyphicon-th-large"></span>&nbsp;</h1>
                    <div id='clustering_items' class='subitem' style=''><ul></ul></div>
                </div>

                <div class="item">
                    <h1> <span class=" glyphicon glyphicon-th-list"></span>&nbsp;</h1>
                    <div id='proxemy_items' class='subitem' style=''><ul></ul></div>
                </div>
                
                <div class="item">
                    <h1> <span class=" glyphicon glyphicon-book"></span>&nbsp;</h1>
                    <div id='wkdef' class='subitem' style=''>
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class="navbar navbar-default">
                              <div class="container-fluid">
                                <ul class="nav navbar-nav" data-tabs="tabs"></ul>
                              </div>
                            </div>
                            <div class="tab-content"></div>
                          </div>
                        </div>
                    </div>

                </div>

            </div>

        </div> <!-- carousel -->
    </div> <!-- container -->



    <div class='footer'>
        <div class="container text-center">
            Données synonymiques <a href='http://jeuxdemots.org'>Jeux de mots</a> - 
            Définitions <a href='http://wiktionary.org'>Wiktionary.org</a> - 
            Réalisation <a href="http://kodexlab.com">Kodex·Lab</a> 2014 
        </div>
    </div>
    
    <!--
    <div class="alert alert-success" role="alert">
        <div class="page-header text-center">
          <h1><small>Idees et commentaires sur le pad specialement ouvert pour l'occasion</small></h1>
          <a href='https://proxteam.eu/pad/p/cello_tmuse' target='_blank'>https://proxteam.eu/pad/p/cello_tmuse</a>
          <p/>
          <p>pad de development:
          <a href='https://proxteam.eu/pad/p/cello_tmuse_dev' target='_blank'>https://proxteam.eu/pad/p/cello_tmuse_dev</a>
          </p>
          
          <p>git: git clone corpusrail:/var-hdd/git/tmuse</p>
          
        </div>
    </div>
    -->

</div> <!-- /.page -->
<script>
    require([
        "app_graph"
    ],  function(App){
        // The "app" dependency is passed in as "App"
        app = new App( {
                       root_url:"{{ root_url }}",
                       engine_url:"{{ engine_url }}", 
                       complete_url:"{{ complete_url }}", 
                       def_url:"{{ def_url }}", 
        });
        app.start();
    })();
</script>

</body>
</html>
