<!DOCTYPE html>
<html lang="en">
<head>
    <title> Dictionnaires et synonymes - tmuse - </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  require JS    -->
    <script data-main="{{url_for('static', filename='main')}}" src="{{url_for('static', filename='lib/require.js')}}"></script>

    <!--  SemUI CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='lib/Semantic-UI-master/dist/semantic.min.css')}}" type="text/css" />

    <!--  our CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='app_graph.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='engine.css')}}" type="text/css" />

    <script id="ClusterLabel" type="text/template">
        <a href='#' class='clabel' style='font-size:<%= size %>px' alt='graph from \'<%= label %>\''><%= label %></a>
    </script>
    
    <script id="ListLabel" type="text/template">
        <span>
            <div class='puce' style='background-color:rgb(<%=color%>);'></div>
            <a class='' href="#"><%=rank %>. <%=form %></a>
        </span>
    </script>

    <script id="about_tmpl" type="text/template">
        <p>
            Données synonymiques <a href='http://jeuxdemots.org'>Jeux de mots</a> <br />
            Définitions <a href='http://wiktionary.org'>Wiktionary.org</a> <br />
            Réalisation <a href="http://kodexlab.com">Kodex·Lab</a> 2014 <br />
        </p>
        <p>
            remarques et cmt : <a href="https://proxteam.eu/pad/p/cello_tmuse">https://proxteam.eu/pad/p/cello_tmuse</a>
        </p>
    </script>

      <script id="query_form_tmpl" type="text/template">
              <input type='text' id="searchQueryInput" class="prompt" placeholder="<%= placeholder %>" required="" />
              <i class="search icon"></i>
    </script>

</head>
<body>
    

  <div class="ui segment pusher">
    <div class="ui main menu">
            <div class="container" >
                <div class="title item hidden-xs">Dictionnaires et synonymes</div>
                <div class="item" href="#" >
                    <div id="query_home_contener" class="ui icon input inverted" >
                        <div id="query_form" class="ui icon input"></div>
                        <div id="query_complete"></div>
                    </div>
                </div>
            <div class="right menu" >
                <a href="#" class="item about">About <span class="sr-only">(current)</span></a>
            </div>
        </div>
    </div>
  </div> <!-- segment -->
  
    <div id="loading-indicator" style="display:none;" >
        <div class="container"><img src="{{url_for('static', filename='loading.gif')}}" /></div>
    </div>

    <div id="maintabs" class="ui tabular menu">
        
      <a class="ui basic button item active" data-tab='tab1'>
          rgraph
<!--
          <i class="cube icon"></i>
          <span class='hidden-xs'>Graph</span>
-->
      </a>
      
      <a class="ui basic button item" data-tab='tab2'>
        clsuet
<!--
          <i class="block layout icon"></i>
          <span class='hidden-xs'>Clustering</span>
-->
      </a>
      
      <a class="ui basic button item" data-tab='tab3'>

          skfj
<!--
          <i class="list layout icon"></i>
          <span class='hidden-xs'>Liste</span>
-->
      </a>
      
      <a class="ui basic button item" data-tab='tab4'>
          skf
<!--
          <i class="book icon"></i>
          <span class='hidden-xs'>Définition</span>
-->
      </a>
    </div>

    <div class="ui tab itemview active" data-tab="tab1">
        <div id='vz_threejs_main' class=''></div>            
    </div>

    <div class="ui tab itemview " data-tab="tab2">
        <h1> <i class="block layout icon"></i></h1>
        <div id='clustering_items' class='subitem' style=''><ul></ul></div>
    </div>

    <div class="ui tab itemview " data-tab="tab3">
        <h1><i class="list layout icon"></i>&nbsp;</h1>
        <div id='proxemy_items' class='subitem' style=''><ul></ul></div>
    </div>

    <div class="ui tab itemview " data-tab="tab4">
        <h1> <i class="book icon"></i>&nbsp;</h1>
        <div id='wkdef' class='subitem' style=''></div>
    </div>

    <div class='footer'>
        <div class="container text-center">
            Données synonymiques <a href='http://jeuxdemots.org'>Jeux de mots</a> - 
            Définitions <a href='http://wiktionary.org'>Wiktionary.org</a> - 
            Réalisation <a href="http://kodexlab.com">Kodex·Lab</a> 2014 
        </div>
    </div>
    
    <!--
    <div class="alert alert-success" role="alert">
        <div class="page-header text-center">
          <h1><small>Idees et commentaires sur le pad specialement ouvert pour l'occasion</small></h1>
          <a href='https://proxteam.eu/pad/p/cello_tmuse' target='_blank'>https://proxteam.eu/pad/p/cello_tmuse</a>
          <p/>
          <p>pad de development:
          <a href='https://proxteam.eu/pad/p/cello_tmuse_dev' target='_blank'>https://proxteam.eu/pad/p/cello_tmuse_dev</a>
          </p>
          
          <p>git: git clone corpusrail:/var-hdd/git/tmuse</p>
          
        </div>
    </div>
    -->

<script>
    require([
        "app_graph"
    ],  function(App){
        // The "app" dependency is passed in as "App"
        app = new App( {
                       root_url:"{{ root_url }}",
                       engine_url:"{{ engine_url }}", 
                       complete_url:"{{ complete_url }}", 
                       def_url:"{{ def_url }}", 
        });
        app.start();
        
        $('#maintabs .item').tab();

    
        // resize window event 
        var min_height = 250;
        
        var _window_resized = function(){
            var win = $(this); //this = window
            size =  $(window).height()-88;
            size = size < min_height ? min_height : size;
            $("#maintabs .itemview").height(size);
            app.views.gviz.resize_rendering()
        }

        _window_resized();

        // bug refresh graph viz
        $('#maintabs .button').on('click',function(){
            setTimeout(150,_window_resized);
            console.log('carousel resize')
        });
        
        $(window).on('resize', function(){
            _window_resized();
        });

        // about menu
        $("a.about").on('click', function(){
            var msg = _.template($("#about_tmpl").text());
            bootbox.dialog({
              title: "A propos de TMuse",
              message: msg,
              onEscape: function() {},
              buttons: {
                main: {
                  label: "OK",
                  className: "btn-primary",
                  callback: function() {}
                }
              }
            });
        });

    })();
</script>

</body>
</html>
