<!DOCTYPE html>
<html lang="fr">
<head>
    <title>autourdumot.fr - Dictionnaires et synonymes</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="EsT1uwZPTLB080M8Hh-1OQTaVgWuiOLUzyfqVHTtcmQ" />

     <meta name="description" content="Autour du mot, exploration de graphe de synomymes, dictionnaire, définition, exploration lexical, réseau de mot, exploration dans le petit monde des mots, visualisation de graphe">
     <meta name="keywords" content="autour du mot, définition, dictionnaire, synonyme, graphe, réseau linguistique, réseau sémantique, visualisation de graphe"> 

    
    <!--  SemUI CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='semantic/semantic.min.css')}}" type="text/css" />

    <!--  our CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='app_graph.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='engine.css')}}" type="text/css" />

    <style>
    .column.vz a {
        color: #666;
        text-decoration: none;
    }
    .column.vz ul {
        display: inline;
    }
    h1.liste { color:#333 }

    span.score {
        float:right;
    }
    .disable-score span.score {
        display:none;
    }
    </style>
</head>
<body>

        
    <div class="ui grid container">
        <div class="row entete">
            <div class="five wide column ">
                    <h2 class="ui  header teal ">Autour<span style='color:lightgrey'>du</span>mot.<span style='color:lightgrey'>fr</span>
                        <div class="sub header  hidden-xs" style='color:lightgrey'>Explorez le petit monde des mots.</div>
                    </h2>
            </div>


            <div class="right aligned eleven wide column query_head">
            </div>
        </div>


        <div id='app' class="row contenu" >
            <div class="column center aligned">
                <div class="ui tab itemview active" data-tab="graph">
                    <div class="ui menu">
                      <a class="header item" href="../{{query}}?" title="explorer le graphe">
                          <i class="cube icon"></i>{{query}}</a>
                      <div class="item">
                          <div class="ui form">
                              <div class="inline field">
                                <div class="ui">
                                  <input id="chkscore" type="checkbox" tabindex="0" class="hidden" onclick="toggle()">
                                  <label>Afficher les scores</label>
                                </div>
                              </div>
                          </div>
                      </div>
                      
<!--
                      <div class="ui right compact menu">
-->

                          <div class="ui right item">
                            <div id="select" class="ui simple dropdown ">
                                <i class="tags icon"></i>
                                Tri
                                <div class="menu">
                                  <a class="{{ "active" if tri =="score" else ""}} item" href="{{query}}?t=l&tri=score&count={{count}}"><i class="list ordered icon"></i>score</a>

                                  <a class="{{ "active" if tri =="form" else ""}} item" href="{{query}}?t=l&tri=form&count={{count}}"><i class="list ordered icon"></i>alphabétique</a>
                                </div>
                            </div>
                          </div>  

                          <div class="ui item">
                            <div id="select" class="ui simple dropdown ">
                                <i class="tags icon"></i>
                                Résultats
                                <div class="menu">
                              <div class="header">Nombre de mots</div>
                                {% for a in results_count %}
                                  <a class="item" href="{{query}}?t=l&tri=score&count={{a}}">{{a}}</a>
                                {%endfor%}
                                </div>
                            </div>
                          </div>  

                          <div class="ui item">
                           <div class="ui simple dropdown">
                            <i class="save icon"></i>téléchargement
                            <div class="menu">
                                
                              <div class="header">Format</div>
                                  
                              <a class="item" href="{{query}}?e=txt&i=1&t=l&tri=score&count={{count}}">txt ` `</a>
                              <a class="item" href="{{query}}?e=csv&i=1&t=l&tri=score&count={{count}}">csv `,`</a>
                              <a class="item" href="{{query}}?e=tsv&i=1&t=l&tri=score&count={{count}}">tsv `tab`</a>
                            </div>
                           </div>
                          </div>
                          
<!--
                      </div>  
-->
                    </div>

                    <div id="proxemy_items" class="ui left aligned segment subitem disable-score">

                      <div class="ui stackable three column grid" STYLE="margin:12px">
                        {% for grid in data %}
                        
                        {% for col in grid %}
                        <div class="column vz">
                            <ul >
                            {% for e in col %}
                            <li class="form">
                            <div class="puce" style="background-color:#eee;"></div>
                            <a draggable="true" class="draggable" href="/liste/{{e.lang}}.{{e.pos}}.{{e.form}}?tri={{tri}}&count={{count}}">{{e.rank}}. {{e.form}}</a>
                            <span class="score">{{e.score_str}}</span>
                            </li>
                            {%endfor%}
                            </ul>
<!--
                            <div class="ui divider"></div>
-->
                        </div>
                        {%endfor%}
                        {%endfor%}
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="color:#AAA; margin-bottom:12px">
            <div class="center aligned column">        
                <div class='item hidden-xs'>
                    Synonymes <a target='_blank' href='http://jeuxdemots.org' class="ui teal">Jeux de mots</a> - 
                    Définitions <a target='_blank' href='http://wiktionary.org' class="ui teal">Wiktionary.org</a> -
                    <a href='http://autourdumot.fr' class="ui teal">autour<span style='color:#AAA'>du</span>mot.fr</a> & 
                    <a target='_blank' href="http://redac.univ-tlse2.fr/applications/index.html">CLLE-ERSS</a>
                     
                    </a> 
                </div>
            </div>
        </div>
    
    </div>


<script>
    function toggle(){
        var el = document.getElementById('proxemy_items');
        el.classList.toggle('disable-score');
    }
</script>

<!-- Piwik -->
{{ analytics }}

</body>
</html>
